@charset "ISO-8859-1";
*{
	margin: 0;
	padding:0;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
	background: rgba(0, 0, 0, 0.473);
    color: #fff;
	padding: 40px 30px;
}
.header h1{
	color: tomato;
	font-size: 30px;
}

.inputs{
	font-size: 25px;
	width: 250px;
	height: 30px;
	border: none;
	border-bottom: 1px solid;
	background: rgba(0, 0, 0, 0.473);
	color: white;
	
}
label {
	font-size: 20px;
}

.button {
	border-radius:9px;
	width: 100px;
	height: 30px;
	color: tomato;
	background-color: white;
	cursor: pointer;
}

.button:hover {
	color: white;
	background-color: tomato;
}
.header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
	background: rgba(0, 0, 0, 0.473);
    color: #fff;
	
	padding: 30px 30px;
}
.header h1{
	color: tomato;
	font-size: 30px;
}

.inputs{
	font-size: 25px;
	width: 250px;
	height: 30px;
	border: none;
	border-bottom: 1px solid;
	background: rgba(0, 0, 0, 0.473);
	color: white;
	
}
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #c0c0c0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav a.active:hover{
	background-color: white;
  color: #04AA6D;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
