@charset "ISO-8859-1";
.pagename{
	font-size: 25px;
	font-weight :bold;
	color: tomato;
	left :0%;
	display: flex;
	justify-content: center;
	align-content: center;
}
.header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
	background: rgba(0, 0, 0, 0.473);
    color: #fff;
	
	padding: 30px 30px;
}
.header h1{
	color: tomato;
	font-size: 30px;
}

.inputs{
	font-size: 25px;
	width: 250px;
	height: 30px;
	border: none;
	border-bottom: 1px solid;
	background: rgba(0, 0, 0, 0.473);
	color: white;
	
}
label {
	font-size: 20px;
}

.button {
	border-radius:9px;
	width: 100px;
	height: 30px;
	color: tomato;
	background-color: white;
	cursor: pointer;
}

.button:hover {
	color: white;
	background-color: tomato;
}